*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    text-align: center;    
}
#myCheckList{
    padding: 10px;
    display: inline-block;
}
#categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
ul{
    border: gray 1px solid;
    padding: 25px;
    margin: 50px;
    border-radius: 10px;
}
ul fieldset{
    min-width: 100px;
    min-height: 50px;
}
ul #close_button{
    position: relative;
    left: 43%;
}
li{
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    list-style: circle;
    list-style-position: inside;    
}
input[type="button"]{
    padding-left: 7px;
    padding-right: 7px;
    border-style: outset;
}
li.active:hover{  
    transform: scale(1.1);
    cursor: pointer;
}
input:disabled{
    cursor: pointer;
    color: black;
}
li input{
    border: none;
    background: transparent;
    width: 50%;
}
#options{
    display: inline-block;
    width: 35%;
    right: 0;
}
.boton{
    margin-right: 5px;;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}
.boton:hover{
    color: dimgray;
    transform: scale(1.1);
}
ul input:not([disabled]):focus{
    border : black 0.5px solid;
    z-index: 1;
    background: white;
}
#categorias{
    margin-left: 10px;
    display: inline-block;
}

